.form-container {
    max-width:350px;
    padding: 1rem;
    background-color: #61212D;
    border-radius: 20px;
    height: 500px;
}

.form-container h1 {
    text-align: center;
    
}

